.categories-title {
  text-align: center;
}

.my-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}

.my-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.react-modal__overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.react-modal__overlay--after-open {
  opacity: 1;
}

.react-modal__overlay--before-close {
  opacity: 0;
}
